/*? General */

body {
    font-family: 'Bree Serif', serif;
    background-color: #C14040;
    color: white;
}

main {
    color: white;
    margin-top: 8em;
}

a:hover {
    text-decoration: none;
}


/*? header */

.mynav {
    border-radius: 21px;
    display: flex;
    justify-content: space-between;
}

.my-nav-link{
    color: #C14040;
}

.my-nav-link:hover,
.return-link:hover {
    color: coral;
}

.title {
    font-size: 1.6em;
}


/*? home.tpl */

.card {
    background-color: #982C2C;
    border-radius: 5em;
}

.details-title {
    font-size: 3em;
}

.link {
    color:white;
}

.link:visited {
    color: coral;
}


/*? types.tpl */
.type-btn-list {
    width: 24%;
    max-width: 24%;
}

.type-btn-list:hover {
    box-shadow: 0 14px 28px #00000040, 0 10px 10px #00000038;
}

.type-link-list{
    color: white;
}

.type-link-list:hover {
    box-shadow: none;
    color: white;
}

.type-link-list:visited {
    color: white;
}


/*? pokemon.tpl */

.type-card {
    border-radius: 10px;
}

.type-link {
    color: white;
    text-decoration: none;
}

.type-link:hover {
    box-shadow: 0 14px 28px #00000040, 0 10px 10px #00000038;
    text-decoration: none;
}

.type-link:visited {
    color: white;
}

.progress {
    background-color: #632b2b;
    height: 2em;
}

.table {
    color: #EFE3E3;
}

.col1 {
    width: 30%;
}

.col2 {
    width: 15%;
}

.col3 {
    width: 55%;
}

th, td {
    color: #EFE3E3;
    font-weight: 400;
}

.return-link {
    color: #EFE3E3;
}

/*? type.tpl */

.no-pok {
    text-align: center;
}

.no-pok-content {
    font-size: 2em;
}

.back-type-list {
    color:white;
}

.back-type-list:hover {
    color: coral;
}